<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Two
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="https://pbs.twimg.com/profile_images/979354884435832833/g9zJeGZb.jpg" alt="Terafuze" />
    <ion-card-header>
      <ion-card-subtitle>Get Started With Terafuze</ion-card-subtitle>
      <ion-card-title>Lend With Confidence Sample App</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button color="primary" size="large">Click Me</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
